.env
docs/_chat.txt
docs/payment.pdf
docs/chroma/chroma.sqlite3
docs/chroma/956562dd-ae36-4d4a-bee3-ba3ff541ce16/data_level0.bin
docs/chroma/956562dd-ae36-4d4a-bee3-ba3ff541ce16/header.bin
docs/chroma/956562dd-ae36-4d4a-bee3-ba3ff541ce16/index_metadata.pickle
docs/chroma/956562dd-ae36-4d4a-bee3-ba3ff541ce16/length.bin
docs/chroma/956562dd-ae36-4d4a-bee3-ba3ff541ce16/link_lists.bin
db
__pycache__